<li class = 'comment-content' id = "comment-<%= comment._id %>">
    <div class ="post-text">
        <p>
            <%= comment.content%>
        </p>
    </div>
    <div class = "comment-options">
        <small class = "comment-user-name">
            <%= comment.user.name %>
        </small>

        <%if(locals.user && (locals.user.id == comment.user.id || locals.user.id == post.user.id)){%>
            <small class = "delete-comment">
                <a href="/comment/destroy/<%=comment.id%>" class = "delete-comment-button">Delete</a>
            </small>
        <%}%>
    </div>
</li>