<footer>
    <p>
        &copy; Codeial
        All Rights Reserved.
    </p>
    <div id = "footer-links">
        <a href="/">Home</a>
        <a href="/user/profile">Profile</a>
    </div>
</footer>