<footer>
    <p>
        &copy; Codeial
        All Rights Reserved.
    </p>
    <div id = "footer-links">
        <a href="/">Home</a>
        <%if(locals.user){%>
            <a href="/user/profile/<%=locals.user.id %>">Profile</a>
        <%}%>
    </div>
</footer>