<link rel="stylesheet" href="/css/home.css">
<div id = "home-container">
    <section id = "feed-posts">
        <%if(locals.user){%>
            <form action="/posts/create" id = "post-form" method="POST">
                <textarea id = "createPost" name="content"  cols="2" rows="3" placeholder="Type Here..."></textarea>
                <br>
                <input id = "post-submit" type="submit" value="Post" id = "post-submit">
            </form>
        <%}%>
    
    
        <div id = "posts-list-container">
            <h4>Posts</h4>
            <ul>
                <%for(post of posts){%>
                    <!-- include the post file -->
                    <%-include('_post')-%>
                <%}%>
            </ul>
        </div>
    </section>
    
    <section id = "user-friends">
        <h4>Friends</h4>
        <%for(u of all_users){%>
            <small class = "friends">
                <a href="/user/profile/<%= u.id %>">
                    <%= u.name %>
                </a>
            </small>
        <%}%>
    </section>
</div>
