<link rel="stylesheet" href="/css/reset_password.css">
<%if(locals.token){%>
    <div id = "resetDiv">
        <h3>
            Hi, <%= token.user.name%>
            <br>
            Enter your new password:
        </h3>

        <form action="/user/reset-password/<%= token._id%>" method="POST">
            <input type="password" name="password" placeholder="Enter Password" required>
            <br>
            <input type="password" name="confirm-password" placeholder="Enter Again" required >
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
    
<%}%>