<link rel="stylesheet" href="/css/reset_email.css">
<div id = "resetMailDiv">
    <h3>Enter the email id associated with your Account:</h3>
    <form action="/user/forgot-password" method="POST">
        <input type="email" name="email" id="email" required placeholder="Enter Your Email Id">
        <br>
        <button type="submit">Submit</button>
    </form>
</div>