<link rel="stylesheet" href="/css/reset_email.css">
<div id = "resetMailDiv">
    <form action="/user/forgot-password" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <button type="submit">Submit</button>
    </form>
</div>