<%if(locals.token){%>
    <div>
        <p>
            Hi, <%= token.user.name%>
        </p>
        <form action="/user/reset-password/<%= token._id%>" method="POST">
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="password" name="confirm-password" placeholder="Enter Again" required >
            <button type="submit">Submit</button>
        </form>
    </div>
    
<%}%>