<link rel="stylesheet" href="/css/user_sign_in.css">
<h3>Sign In</h3>
<div>
    <form action="/user/create-session" method="POST">
        <input type="email" name="email" id="email" required placeholder="Email">
        <br>
        <input type="password" name="password" id="password" required placeholder="Password">
        <br>
        <button type="submit">Sign In</button>
    </form>
</div>