<link rel="stylesheet" href="/css/user_sign_up.css">
<h1>Sign Up</h1>
<div>
    <form action="/user/create" method="POST">
        <input type="text" name = "name" id = "name" required placeholder="Name">
        <br>
        <input type="email" name="email" id="email" required placeholder="Email">
        <br>
        <input type="password" name = "password"  placeholder="password">
        <br>
        <input type="password" name = "confirm_password"  placeholder="Confirm password">
        <br>
        <button type="submit">Sign Up</button>
    </form>
</div>