h2{
    text-align: center;
    color: rgb(52, 86, 139);
    padding-top: 10px;
}

textarea{
    max-width: 90%;
}

section{
    margin: 16px;
    margin-bottom: 50px;
    input[type='submit']{
        background-color: rgb(52, 86, 139);
        color: white;
        border: 1px solid rgb(29, 44, 68);
        height: 24px;
        border-radius: 2px;
    }
    input[type='submit']:hover{
        cursor: pointer;
        background-color: rgb(91, 132, 197);
    }
    h4{
        color: rgb(52, 86, 139);
        text-align: center;
        font-size: 18px;
        margin: 18px;
    }
    #posts-list-container{
        margin: 0 auto;
    }
    ul{
        list-style: none;
        padding: 0;
    }
    li{
        background-color: white;
        text-align: center;
        border-radius: 2px;
        padding-bottom: 10px;
        p{
            
            display: flex;
            justify-content: space-between;
            text-align: justify;
            font-size: 12px;
            padding: 15px 4px 8px 10px;
            small{
                background-color: rgb(211, 211, 211);
                margin: 0 10px 0 10px;
                height: 25px;
                display: flex;
                min-width: 50px;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
                padding: 0 3px 0 3px;
            }
        }
        .post_comments{
            font-size: 8px;
            margin: 0 0px 4px 10px;
            text-align: left;
            .comment{
                min-width : 200px;
                min-height: 40px;
            }
            .commentBtn{
                font-size: 8px;
                background-color: rgb(52, 86, 139);
                color: white;
                border: 1px solid rgb(29, 44, 68);
                border-radius: 2px;
            }
            .commentBtn:hover{
                cursor: pointer;
                background-color: rgb(91, 132, 197);
            }
        }
    }
}