body{
    background-color: #e4e4e4;
}
section{
    margin: 10px;
    padding: 16px 0px 20px 0px;
    #main-heading{
        text-align: center;
        font-size: 22px;
        color: rgb(30, 101, 124);
    }
    #post-form{
        max-width: 65%;
        margin-bottom: 18px;
    }
    textarea{
        max-width: 60%;
        min-width: 60%;
        font-size: 12px;
    }
    #post-submit,button{
        background-color: rgb(82, 53, 119);
        color: white;
        border: none;
        border-radius: 2px;
        height: 22px;
        font-size: 10px;
    }
    #post-submit:hover,button:hover{
        background-color: rgb(209, 126, 176);
        cursor: pointer;
    }
    small{
        padding: 4px;
        height: 12px;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        font-size: 10px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    #posts-list-container{
        background-color: white;
        border-radius: 2px;
        h4{
            font-size: 18px;
            text-align: center;
            color: rgb(30, 101, 124);
            margin: 10px;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            .onePost{
                border-bottom: 10px solid  #e4e4e4;
                margin: 0;
                .post-content{
                    display: flex;
                    justify-content: space-between;
                    .post-text{
                        margin: 10px 0 8px 10px;
                        font-size: 14px;
                    }
                    .post-options{
                        margin: 10px 10px 8px 10px;
                        display: flex;
                        flex-direction: column;
                        .post-name{
                            background-color: rgb(82, 53, 119);
                            margin-bottom: 3px;
                            color: white;
                        }
                        .post-name:hover{
                            background-color: rgb(209, 126, 176);
                            cursor: pointer;
                        }
                        .delete-post{
                            background-color: rgb(82, 53, 119);

                        }
                        .delete-post:hover{
                            background-color: rgb(209, 126, 176);
                            cursor: pointer;
                        }
                    }
                }

            }
        }
        .post_comments{
            margin: 10px 10px 8px 10px;
            font-size: 12px;
            text-align: justify;
            .post-comments_list{
                h5{
                    font-size: 14px;
                    text-align: center;
                    color: rgb(30, 101, 124);
                    margin: 8px;
                }
                .post-content{
                    display: flex;
                    justify-content: space-between;
                    .post-text{
                        width: 78%;
                        font-size: 12px;
                    }
                    .comment-options{
                        margin-left: 18px;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        .comment-user-name{
                            background-color: rgb(82, 53, 119);
                            color: white;
                            margin-bottom: 3px;
                            display: flex;
                            justify-content: center;
                            font-size: 8px;
                        }
                        .comment-user-name:hover{
                            background-color: rgb(209, 126, 176);
                            cursor: pointer;
                        }
                        .delete-comment{
                            background-color: rgb(82, 53, 119);
                            color: white;
                            border: none;
                            border-radius: 2px;
                            font-size: 8px;
                        }
                        .delete-comment:hover{
                            background-color: rgb(209, 126, 176);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}