body{
    margin: 0;
    font-family: sans-serif;
    display:flex; 
    flex-direction:column;
    height: 100%;
    background-color: #e4e4e4;
    #flash{
        margin-top: 40px;
        font-size: 18px;
        color: rgb(23, 92, 134);
    }
}

