#home-container {
  display: flex;
  margin-bottom: 18px;
  overflow-x: hidden;
}

textarea {
  resize: vertical;
}

#createPost {
  width: 98%;
  min-height: 70px;
}

.addComment {
  width: 75%;
  font-size: 14px;
}

#feed-posts {
  margin: 16px 5px 10px 10px;
  padding: 16px 0px 20px 0px;
  width: 85%;
}

#feed-posts #post-form {
  margin: 18px 0 18px 0;
}

#feed-posts #post-submit, #feed-posts button {
  background-color: #523577;
  color: white;
  border: none;
  border-radius: 2px;
  height: 30px;
  font-size: 16px;
}

#feed-posts #post-submit:hover, #feed-posts button:hover {
  background-color: #d17eb0;
  cursor: pointer;
}

#feed-posts small {
  padding: 4px;
  height: 18px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

#feed-posts a {
  text-decoration: none;
  color: white;
}

#feed-posts #posts-list-container {
  background-color: white;
  border-radius: 2px;
}

#feed-posts #posts-list-container h4 {
  font-size: 18px;
  text-align: center;
  color: #1e657c;
  margin: 10px;
}

#feed-posts #posts-list-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#feed-posts #posts-list-container ul .onePost {
  border-bottom: 10px solid  #e4e4e4;
  margin: 0;
}

#feed-posts #posts-list-container ul .onePost .post-content {
  display: flex;
  justify-content: space-between;
}

#feed-posts #posts-list-container ul .onePost .post-content .post-text {
  margin: 10px 0 8px 10px;
  font-size: 20px;
}

#feed-posts #posts-list-container ul .onePost .post-content .post-options {
  margin: 10px 10px 8px 10px;
  display: flex;
  flex-direction: column;
}

#feed-posts #posts-list-container ul .onePost .post-content .post-options .post-name {
  background-color: #523577;
  margin-bottom: 4px;
  margin-top: 4px;
  color: white;
}

#feed-posts #posts-list-container ul .onePost .post-content .post-options .post-name:hover {
  background-color: #d17eb0;
  cursor: pointer;
}

#feed-posts #posts-list-container ul .onePost .post-content .post-options .delete-post {
  background-color: #523577;
  margin-bottom: 5px;
}

#feed-posts #posts-list-container ul .onePost .post-content .post-options .delete-post:hover {
  background-color: #d17eb0;
  cursor: pointer;
}

#feed-posts #posts-list-container .post_comments {
  margin: 10px 10px 8px 10px;
  font-size: 15px;
  text-align: justify;
}

#feed-posts #posts-list-container .post_comments .post-comments_list h5 {
  font-size: 14px;
  text-align: center;
  color: #1e657c;
  margin: 8px;
}

#feed-posts #posts-list-container .post_comments .post-comments_list .comment-content {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

#feed-posts #posts-list-container .post_comments .post-comments_list .comment-content .post-text {
  width: 78%;
  font-size: 16px;
}

#feed-posts #posts-list-container .post_comments .post-comments_list .comment-content .comment-options {
  margin-left: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#feed-posts #posts-list-container .post_comments .post-comments_list .comment-content .comment-options .comment-user-name {
  background-color: #523577;
  color: white;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

#feed-posts #posts-list-container .post_comments .post-comments_list .comment-content .comment-options .comment-user-name:hover {
  background-color: #d17eb0;
  cursor: pointer;
}

#feed-posts #posts-list-container .post_comments .post-comments_list .comment-content .comment-options .delete-comment {
  background-color: #523577;
  color: white;
  border: none;
  border-radius: 2px;
}

#feed-posts #posts-list-container .post_comments .post-comments_list .comment-content .comment-options .delete-comment:hover {
  background-color: #d17eb0;
  cursor: pointer;
}

#user-friends {
  background-color: white;
  margin: 10px 10px 10px 5px;
  padding: 16px 0px 20px 0px;
  width: 15%;
}

#user-friends h4 {
  font-size: 20px;
  color: #1e657c;
  margin: 8px;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
}

#user-friends .friends {
  margin: 4px auto;
  display: flex;
  flex-direction: column;
  max-width: 100px;
}

#user-friends .friends a {
  color: white;
  min-height: 20px;
  background-color: #523577;
  border-radius: 2px;
  padding: 4px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

#user-friends .friends a:hover {
  background-color: #d17eb0;
}
