#resetDiv {
  margin: 100px 20px;
}

#resetDiv h3 {
  color: #5932a3;
  margin-top: 150px;
  font-size: 30px;
}

#resetDiv form input {
  font-size: 24px;
  min-width: 300px;
}

#resetDiv form button {
  height: 40px;
  background-color: #f8e74a;
  border: none;
  border-radius: 2px;
  color: #24657a;
  font-size: 24px;
  min-width: 307px;
  margin-top: 10px;
}

#resetDiv form button:hover {
  background-color: #ffffa8;
  cursor: pointer;
}
