section {
  margin: 40px 0 8px 10px;
}

section h2 {
  font-size: 24px;
  text-align: center;
  color: #1e657c;
}

section h4 {
  font-size: 18px;
  color: #1e657c;
}

section form {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 2px;
}

section form label {
  font-size: 22px;
}

section form input {
  font-size: 24px;
}

section form #submit {
  max-width: 100px;
  background-color: #523577;
  color: white;
  border: none;
  border-radius: 2px;
}

section form #submit:hover {
  background-color: #d17eb0;
  cursor: pointer;
}
