body {
  color: black;
  text-align: center;
}

body h3 {
  color: #5932a3;
  margin-top: 100px;
}

body div {
  display: flex;
  justify-content: center;
}

body div form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body div form button {
  height: 40px;
  background-color: #f8e74a;
  border: none;
  border-radius: 2px;
  color: #24657a;
  font-size: 16px;
}

body div form button:hover {
  background-color: #ffe602;
  cursor: pointer;
}
